body {
    background-color: #eeeeeec9;
    place-items: center;
    width: 800px;
}

form {
    display: inline;
}

.flex-container {
    background-color: #bfccd53f;
    /* margin-right: 500px;
    margin-top: 50px;
    margin-left: 240px; */
    margin-left: 250px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.flex-container:hover {
    background-color: #b5d3e779;
}

h1 {
    color: #222831; 
}

h2 {
    color: #276063; 
    padding-top: 8px;
    border-top: 2px dashed rgb(77, 153, 158);
    width: 350px;
    text-shadow: 1px 1px #393e46;
}

input {
    border: 2px #1339553f solid;
    display: inline;
    background-image: linear-gradient(to right, rgba(192, 251, 255, 0.776), rgba(29, 155, 164, 0.678));
    margin-left: 5px;
    padding-left: 5px;
}

input:hover {
    border: 2px solid black;
    background-image: linear-gradient(to right, rgba(192, 251, 255, 0.728), rgba(238, 241, 242, 0.678));
}

.vl {
    border-left: 6px solid rgb(39, 134, 141);
    height: 670px;
    position: absolute;
    left: 15%;
    margin-left: 3px;
    margin-top: -20px;
}

label {
    color: #285c5f;
    display: inline-block;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    padding-top: 5px;
}

p {
    display: inline; 
    color: red;
    padding-left: 10px;
    font-weight: bold;
}

.questions {
    color: #345f61;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-select {
    background-color: #b5d3e779;
    border: 2px #1339553f solid;
}

.custom-select:hover {
    background-color: #59b1eb83;
}

.custom-select:focus {
    background-color: #59b0ebd3;
}

#submitButton {
    background-image: linear-gradient(to right, rgb(241, 246, 247), rgba(225, 237, 241, 0.678));
    border-radius: 12px;
    border: 2px solid #448d91;
    width: 80px; 
    height: 50px;
    margin-top: 30px;
}

#submitButton:hover {
    background-color: black;
    font-size: 15px;
    font-weight: bold;
}

.pretty {
    display: none;
}

.regButton:hover + .pretty{
    display: block;
    color: red;
 }

